<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
<!--        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>-->
        <File name="FileAppender" fileName="logs/logger.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.epam" level="debug" additivity="false">
            <AppenderRef ref="FileAppender" level="debug"/>
<!--            <AppenderRef ref="FileAppender" level="error"/>-->
        </Logger>
        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>